name: build-and-push
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with: { distribution: 'temurin', java-version: '17' }
      - name: Build & Test (Maven)
        working-directory: complete
        run: mvn -q -B test

  sonar:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
  
      - name: Cache Sonar packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
  
      - name: Cache Maven repo
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
  
      # Саніті: покажемо, що працюємо в правильному модулі
      - name: Sanity check paths
        run: |
          pwd
          ls -la
          ls -la complete || true
  
      # 1) збірка саме модуля у ./complete
      - name: Build (verify)
        run: mvn -q -f complete/pom.xml -DskipTests verify
  
      # 2) аналіз на SonarCloud (без жодних localhost)
      - name: Print sonar props
        run: |
          mvn -q -f complete/pom.xml help:evaluate -Dexpression=sonar.host.url -DforceStdout
          mvn -q -f complete/pom.xml help:evaluate -Dexpression=sonar.organization -DforceStdout
          mvn -q -f complete/pom.xml help:evaluate -Dexpression=sonar.projectKey -DforceStdout
      

  docker:
    needs: [test, sonar]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./complete
          file: ./complete/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/gs-rest:latest
